@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap")

html
  scroll-behavior: smooth

*
  box-sizing: border-box
  padding: 0
  margin: 0
  font-family: Poppins, sans-serif

header
  border-bottom: 2px solid silver
  justify-content: space-between
  align-items: center
  padding: 20px 100px
  position: relative
  display: flex
  width: 100%
  z-index: 1

  .logo
    background: url('../logo/logo_transparent.png')
    background-size: cover
    height: 250px
    width: 250px
    z-index: 1

.content
  background: #d9f5fcbf
  position: relative
  margin-top: 100px
  width: 80%
  z-index: 1

  .content-box
    padding: 50px 100px

    .text-box

      h2
        text-transform: uppercase
        margin-bottom: 20px
        font-weight: 900
        font-size: 40px

        span
          font-size: 2em

      .service-container
        display: flex
        justify-content: space-between

        .service-box
          border-radius: 5px
          color: #2b2b2b
          font-weight: 600
          background: white
          padding: 25px
          display: flex
          flex-direction: column
          justify-content: center
          align-items: center
          text-align: center
          margin-bottom: 25px

          img
            max-width: 100px

          p
            font-size: 14px

.right-side
  background: #d9f5fc
  position: fixed
  height: 100vh
  width: 70vw
  right: 0
  top: 0

  img
    object-fit: cover
    opacity: 0.55
    height: 100%
    width: 100%
    left: 0
    top: 0

.buttons
  margin: 15px 0

.click
  text-transform: uppercase
  display: inline-block
  background: #d7cff5
  letter-spacing: 1px
  padding: 8px 15px
  margin-top: 20px
  font-weight: 600
  font-size: 14px
  cursor: pointer
  color: #2b2b2b

  =arrow($url)
    background: $url
    background-size: cover
    display: inline-block
    position: relative
    height: 20px
    width: 20px
    top: 5px

  .arrow-left
    +arrow(url(../image/arrow-left.png))
    margin-right: 5px

  .arrow-right
    +arrow(url(../image/arrow-right.png))
    margin-left: 5px

.contact

  .form
    margin-top: 40px

  .input-box
    margin-bottom: 40px

    input
      width: 100%
      background: transparent
      box-shadow: none
      outline: none
      border: none
      border-bottom: 2px solid
      padding: 10px 0

    input::placeholder
      color: black

    textarea
      width: 100%
      background: transparent
      box-shadow: none
      outline: none
      border: none
      padding: 10px 0
      min-height: 150px
      border-bottom: 2px solid

    textarea::placeholder
      color: black

    input[type=submit]
      width: 150px
      background: #c4cbf3
      color: #111
      text-transform: uppercase
      font-weight: 500
      letter-spacing: 1px
      border-bottom: none
      font-size: 18px

.contact-info
  border-top: 2px solid #000000
  padding: 25px 100px
  display: flex
  justify-content: space-between
  align-items: center
  background: #ffffff

  .contact-container
    display: flex

  .contact-logo
    background: #fff
    width: 40px
    height: 40px
    display: inline-flex
    justify-content: center
    align-items: center
    border-radius: 8px

    img
      width: 30px
      height: 30px

  .contact-text
    font-weight: 500
    margin-left: 10px
    display: flex
    justify-content: center
    align-items: center

.all-right-reserved
  color: #fff
  text-align: center
  background: #607D8B
  width: 100%
